@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand: 199 89% 40%; /* #0284C7 */
}

body {
  @apply bg-slate-50 text-slate-900 antialiased font-sans;
}

/* Hide scrollbar for horizontal quick-action rails, keep it scrollable */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
